<div class="bento-panel-layout">
  <ul class="bento-result-summary">
    {% for panel in panels %}
      <li style="display: none" data-bento-plugin-name="{{ panel.id }}">{{ panel.title }}: <span class="count-text"></span></li>
    {% endfor %}
  </ul>
  {% for panel in panels %}
    <div class="bento-panel-wrapper" data-bento-plugin-name="{{ panel.id }}">
      {{ 'Loading ...'|t }}
    </div>
  {% endfor %}
</div>
