<h2>{{ title }}</h2>
<ul>
  {% for result in results %}
    <li>
      <a href="{{ result.url }}">{{ result.title }}</a>
      {% if result.description %}
        <p>{{ result.description }}</p>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% if metadata %}
  <div>
    <ul>
      {% for key,value in metadata %}
        <li>{{ key }}: {{ value }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
<div>
  <a href="{{ service_url }}">{{ service_link_title }}</a>
</div>
